{{!-- <section class="card">
  <a href="/notes/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}">
      <p>By: {{note.user.name}}</p>
      <p>{{content}}</p>
    </div>
  </a>
</section> --}}