<section class="card">
  <a href="/note/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{name}}</p>
      <p>{{content}}</p>
    </div>
  </a>
</section>