<div class="text-center mt-5 card">
  <h2 class="card-header-title">{{note.title}}</h2>
  <p>{{note.content}}</p>
  <p>Created by {{note.user.name}} on {{format_date note.date_created}}</p>
  <article class="note" id="comment-form">
    <form class="comment-form">
</div>

<div class="card mx-5 mt-5">
  <div>Comment</div>
  <div>
    <textarea class="input mt-5" name="comment-body" placeholder="Add a Comment..."></textarea>
  </div>
  <div>
    <button class=" button mt-5" type="submit" id="submit">Submit</button>
  </div>
</div>
</form>
</article>

<div class="comment-list card mt-5">
  {{#each note.comments as |comment| }}
  <div class="" id="comment-{{comment.id}}">
    <p>
      {{comment.description}}
    </p>
    <div class="">
      <button id="delete" class="button is-danger" data-id="{{comment.id}}">DELETE</button>
      <button id="edit" class="button is-success" data-id="{{comment.id}}">EDIT</button>
    </div>
  </div>
  {{/each}}
</div>

<script>
  const postId = {{ note.id }};
</script>
<script src="/js/comment.js"></script>
<script src="/js/edit.js"></script>