<div class="columns is-gapless is-flex is-justify-content-center mt-5 card" id="individual_post">
  <img class="card-image p-2" src="https://picsum.photos/200">
  <h2 class="card-header-title pl-3">{{note.title}}<br></br>{{note.content}}<br></br>Created by <br></br>{{note.user.name}} on {{format_date note.date_created}}</p>
    {{!-- <div class="card-content">
      <div class="media-content">
        <p class="title is-6">Created by <br></br>{{note.user.name}} on {{format_date note.date_created}}</p>
      </div>
    </div> --}}
</div>
<div class="columns is-gapless box comment-list card mt-5">
  <article class="note" id="comment-form">
    <form class="comment-form is-flex is-justify-content-center">
      <textarea class="input mt-5" name="comment-body" placeholder="Add a Comment..."></textarea>
      <button class="button mt-5" type="submit" id="submit">Submit</button>
    </form>
    {{#each note.comments as |comment| }}
    <div id="comment-{{comment.id}}">
      <p class="p-3 m-2">
        {{comment.description}} <br></br>by {{user.name}}
      </p>
      <div class="field is-grouped is-flex is-justify-content-space-around">
        <button id="delete" class="button is-danger" data-id="{{comment.id}}">DELETE</button>
        <button id="edit" class="button is-success" data-id="{{comment.id}}">EDIT</button>
      </div>
      {{/each}}
  </article>
</div>
</div>
<script>
  const postId = {{ note.id }};
</script>
<script src="/js/comment.js"></script>
<script src="/js/edit.js"></script>