<div class="text-center">
  <h2>{{note.title}}</h2>
  <p>{{note.content}}</p>
  <p>Created by {{note.user.name}} on {{format_date note.date_created}}</p>
  <article class="note" id="comment-form">
    <form class="comment-form">
      <div>Comment</div>
      <div>
        <textarea class="comment-body" name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit" id="submit">Submit</button>
      </div>
    </form>
  </article>
</div>
<div class="comment-list">
  {{#each note.comments as |comment| }}
  <div id="comment-{{comment.id}}">
    <p>
      {{comment.description}}
    </p>
    <div class="col-md-4">
      <button id="delete" class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      <button id="edit" class="btn btn-sm btn-danger" data-id="{{comment.id}}">EDIT</button>
    </div>
  </div>
  {{/each}}
</div>
<script>
  const postId = {{ note.id }};
</script>
<script src="/js/comment.js"></script>
<script src="/js/edit.js"></script>