<section class="container">
  <h3 class="language-name">{{language.coding_lang}}</h3>
  <section class="flex-row justify-center">
    {{#each language.notes as |note|}}
    <section class="card">
      <a href="/note/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
          <img src="/images/{{filename}}">
          <p>By: {{original_poster}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>